/****************************************
 *************** GENERAL ****************
 ****************************************/
*{
	margin: 0px;
	padding: 0px;
}
body{
	font:normal 14px/16px Arial, Helvetica, Sans-serif;
	margin: 0px;
}
/****************************************
 *************** TOP MENU ***************
 ****************************************/
.bodyTopBar {
	height: 25px;
	clear: both;
	max-width: 100%;
	background-color:#CCC;
}
.buttonTopMenu{
	height: 100%;
	width: auto;
	padding: 0px 10px 0px 10px;
	border: 0px;
}
.buttonTopMenu:HOVER{
	background-color: #888;
	color: #FFF;
}
.buttonTopMenu:ACTIVE{
	background-color: #888;
	color: #000;
}
#buttonBugReport{
	float:right;
	background-color: #CCC;
}
/****************************************
 *************** CONTENT ****************
 ****************************************/
#infoFightersHeader{
	margin-left: 20px;
	margin-top: 20px;
}
.infoFightersContent,li{
	margin: 10px 0px 0px 10px;
}
.infoFightersContent,ul {
	margin: 0px 0px 0px 10px;
}
/****************************************
 ******** NEW CHARACTER PROMPT***********
 ****************************************/
.newCharacterPrompt{
	display: none;
}
.newCharacterPrompt.Displayed{
	display:block;
	width: 300px;
	height: 300px;
	position: fixed;
	left: 40%;
	top:10%;
	text-align: left;
    font:normal 12px/14px Arial, Helvetica, Sans-serif;
    color: #444;
    font-weight:bold;
}
.newCharacterForm{

}
.newCharacterPrompt fieldset {
    padding-left: 25px;
    background-color: #eff4f6;
    border: 1px solid #C3D4DB;
    border-radius: 5px;
}
.newCharacterPrompt input{
    margin-left: 5px;
}
.newCharacterInputAttr{
    width: 40px;
}
.newCharacterInputName{
    width: 150px;
}
.newCharacterRadio{
    display:inline-block;
    text-align: right;
    margin-left: 60px;
}
.newCharacterLabel{
    display: inline-block;
    float: left;
    clear: left;
    width: 75px;
    text-align: right;
    margin-top: 6px;
}
.newCharacterFooter input {
    margin-left: 60px;
    font-weight:bold;
}