/****************************************
 *************** GENERAL ****************
 ****************************************/
/**{
	margin: 0px;
	padding: 0px;
}
html{height: 100%;}
body{
	font:normal 14px/16px Arial, Helvetica, Sans-serif;
	margin: 0px;
	height: 100%;
}*/
#leftPanel{
	height: 80%;
	width: 50%;
	float: left;
}
#rightPanel{
	height: 96%;
	width: 50%;
	float: right;
}
.panelBattleSystem{
	margin-bottom: 0px;
}
.battleSystemHeader {
	margin: 0px;
	padding-left: 5px;
	font-weight: bold;
}
/****************************************
 ************* MENU BUTTONS *************
 ****************************************/
.bodyTopBar {
	height: 25px;
	clear: both;
	max-width: 100%;
}
.noPadding{
	padding:0px;
}
.noMargin{
	margin: 0px;
}
/*#topMenu > input, #topMenuRight > input, #buttonBugReport{
	height: 100%;
	width: auto;
	padding: 0px 3px 0px 3px;
	border: 0px;
}
#topMenu > input:HOVER, #topMenuRight > input:HOVER, 
#buttonBugReport:HOVER{
	background-color: #888;
	color: #FFF;
}
#topMenu > input:ACTIVE, #topMenuRight > input:ACTIVE,
#buttonBugReport:ACTIVE{
	background-color: #888;
	color: #000;
}
#buttonResetCharacters{
	font-weight: bold;
	float: right;
	margin-right: 10px;
}
#buttonBugReport{
	float:right;
	background-color: #CCC;
}*/
/****************************************
 *************** CONTENT ****************
 ****************************************/
/*infoFightersHeader{
	height: 100%;
	width: 100%;
	margin-left: 2ex;
}
#infoFightersHeader,h3{
	margin-top: 1ex;
}

.infoFightersContentTitle{
	margin-top: auto;
}
.infoFightersContent,li{
	margin: 10px 0px 0px 10px;
	display: inline-block;
}
.infoFightersContent,ul {
	margin-left: 2ex;
}
/****************************************
 ******** NEW CHARACTER PROMPT***********
 ****************************************/
 .newCharacterAttr{
 	width: 15ex;
 }
/*.newCharacterPrompt{
	display: none;
}
.newCharacterPrompt.Displayed{
	display:block;
	width: auto;
	max-width: 550px;
	position: fixed;
	left: 16%;
	top:15%;
	text-align: left;
    font:normal 12px/14px Arial, Helvetica, Sans-serif;
    color: #444;
    font-weight:bold;
}
.newCharacterPrompt fieldset {
    padding: 0px 25px;
    background-color: #eff4f6;
    border: 1px solid #C3D4DB;
    border-radius: 5px;
}
#newCharacterPromptStats > input, #newCharacterPromptEquipment > input,
#newCharacterPromptActions > input{
	margin-left: 5px;
	margin-bottom: 5px;	
}
.newCharacterInputAttr{
    width: 40px;
    margin-bottom: 5px;
}
.newCharacterInputName{
    width: auto;
    margin-bottom: 5px;
}
/*.newCharacterLabel{
    display: inline-block;
    float: left;
    clear: left;
    width: 75px;
    text-align: right;
    margin: 3px 0px 0px 0px;
}
#newCharacterPrompt p {
	text-align: center;
	margin: 5px 0px 0px 0px;
}
.newCharacterCheckBox{
	margin: 0px 0px 5px 0px;
	display: inline-block;
	width: 160px
}
#newCharacterFooter{
	text-align: center;
	font: normal 12px/14px Arial, Helvetica, Sans-serif;
	margin-bottom: 5px;
}
.newCharacterFooter{
	margin: 0px 15px 5px 15px;
	font-weight: bold;
	width: 55px;
}
#newCharacterPromptFactions, #newCharacterPromptFormation{
	text-align: center;
	margin-bottom: -10px;
}/*
#newCharacterPromptFactions > label, #newCharacterPromptFormation > label{
	margin: 0px 30px 0px 30px;
}*/
/*#newCharacterPromptStats, #newCharacterPromptEquipment{
	display: inline-block;
	vertical-align: top;
}*/
/*#actionList{
	margin-right: -50px;
}
/****************************************
 ******** LOAD AND SAVE PROMPT***********
 ****************************************/
 /*.loadAndSavePrompt {display: none;}
 .loadAndSavePrompt.Displayed{
	display:block;
	width: auto;
	top: 15%;
	position: fixed;
	left: 16%;
	font: normal 12px/14px Arial, Helvetica, Sans-serif;
	color: #444;
    font-weight:bold;
}
.loadAndSavePrompt fieldset{
	padding: 10px 15px 10px 15px;
    background-color: #eff4f6;
    border: 1px solid #C3D4DB;
    border-radius: 5px;
}
#loadAndSaveCharacters, #loadAndSaveWeapons{
	margin-bottom: 5px;
	padding-bottom: 10px;
	border-bottom: 1px solid #C3D4DB;
}
#buttonSaveCharacters, #buttonSaveWeapons, #buttonSaveArmors{
	float: right;
}
#targetCharacters{
	display: inline-flex;
	margin: 1%;
	height: auto;
	max-height: 200px;
}
#targetFactions, #actionButtons{
	display: block;
	text-align: center;
	margin: 1%;
}
#targetCharactersAlly, #targetCharactersEnemy{
	display: block;
	margin-bottom: 20px;
}
.targetCharacters{
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #f6f6f6));
	background:-moz-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:-webkit-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:-o-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:-ms-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0);
	background-color:#ffffff;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:10px 0px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
	width: 100px;
	margin: 5px 10px;
}
.targetCharacters:HOVER{
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f6f6f6), color-stop(1, #ffffff));
	background:-moz-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:-webkit-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:-o-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:-ms-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#ffffff',GradientType=0);
	background-color:#f6f6f6;
}
.targetCharacters:ACTIVE{
	position:relative;
	top:1px;
}
.targetCharacters:DISABLED{
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf));
	background:-moz-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	background:-webkit-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	background:-o-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	background:-ms-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	background:linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf',GradientType=0);
	background-color:#ededed;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#777777;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
#actionButtons input{
	padding-top: 5px;
	padding-bottom: 5px;
	-moz-box-shadow:inset 0px 1px 0px 0px #54a3f7;
	-webkit-box-shadow:inset 0px 1px 0px 0px #54a3f7;
	box-shadow:inset 0px 1px 0px 0px #54a3f7;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #007dc1), color-stop(1, #0061a7));
	background:-moz-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background:-webkit-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background:-o-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background:-ms-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background:linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#007dc1', endColorstr='#0061a7',GradientType=0);
	background-color:#007dc1;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #124d77;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font: 600 13px/15px Arial;
	padding:5px 5px;
	text-decoration:none;
	text-shadow:0px 1px 0px #154682;
	margin: 10px 10px;
}
#actionButtons input:HOVER{
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0061a7), color-stop(1, #007dc1));
	background:-moz-linear-gradient(top, #0061a7 5%, #007dc1 100%);
	background:-webkit-linear-gradient(top, #0061a7 5%, #007dc1 100%);
	background:-o-linear-gradient(top, #0061a7 5%, #007dc1 100%);
	background:-ms-linear-gradient(top, #0061a7 5%, #007dc1 100%);
	background:linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0061a7', endColorstr='#007dc1',GradientType=0);
	background-color:#0061a7;
}
#actionButtons input:ACTIVE{
	position:relative;
	top:1px;
}*/
/****************************************
 *******MODIFY CHARACTERS PROMPT*********
 ****************************************/
/*.modifyCharactersPrompt{display: none;}
.modifyCharactersPrompt.Displayed{
	display: block;
	width: auto;
	top: 15%;
	position: fixed;
	left: 16%;
	font: normal 12px/14px Arial, Helvetica, Sans-serif;
	color: #444;
	font-weight: bold;
	baground-color: #000;
}
.modifyCharactersPrompt fieldset{
	padding: 5px 5px 5px 5px;
	background-color: #eff4f6;
	border: 1px solid #C3D4DB;
	border-radius: 5px;
}
.modifyCharactersFooter input{
	width: 8ex;
	margin: 5px 8% 5px 13%;
	font: normal 12px/14px Arial, Helvetica, Sans-serif;
	font-weight: bold;		
}*/

/* 
#test {
 	position: relative;
 }
#test::after{
 	content: attr(value) "/" attr(max);
 	position: absolute;
 	left: calc(100% + 1ex);
 }*/